{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.0.0",
        "targets": {
          "ie": "8"
        },
        "spec": true
      }
    ]
  ],
  "plugins": ["@babel/plugin-external-helpers"],
  "env": {
    "production": {
      "plugins": ["@babel/plugin-external-helpers"]
    }
  }
}
